---
import type { ImageMetadata } from 'astro';
import PhotoCard from './PhotoCard.astro';
import PhotographyCredit from './PhotographyCredit.astro';
interface Photo {
  image?: ImageMetadata | undefined;
  alt?: string | undefined;
  caption?: string | undefined;
  location?: string | undefined;
  credit?: string | undefined;
  date?: Date | undefined;
}
interface Props {
  photos: Photo[];
  locale?: string | undefined;
  showCredit?: boolean | undefined;
}
const { photos, locale = 'en', showCredit = false } = Astro.props;
---

<div class="grid gap-5 sm:grid-cols-2 lg:grid-cols-3">
  {photos.map((photo) => <PhotoCard {...photo} {locale} />)}
</div>
{showCredit && <PhotographyCredit class="mt-4 text-right" />}
